<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Let's Get In Touch!</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5"></p>
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>(+91) 7448825542</div>
            </div>
            <div class="col-lg-3 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                <span>
                    <a class="d-block" href="mailto:pradheepdr@outlook.com">pradheepdr@outlook.com</a>
                </span>
                <br/><br/>
            </div>
            <div class="col-lg-3 mr-auto text-center">
                <span>
                    <i class="fab fa-linkedin fa-3x mb-3 text-muted"></i>
                    <a class="d-block" href="https://www.linkedin.com/in/pradheep-d-r/">Pradheep D R</a>
                </span>
                <br/><br/>
            </div>
            <div class="col-lg-3 mr-auto text-center">
                <span>
                    <i class="fab fa-skype fa-3x mb-3 text-muted"></i>
                    <a class="d-block" href="skype:sreenumalae?call">Pradheep D R</a>
                </span>
            </div>
        </div>
    </div>
</section>